.continue_container {
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    
    span {
        vertical-align: middle;
        font-size: 12px;
        color: #55706D;
        margin-left:10px;
    }
    .continue_btn {
        height: 40px;
        line-height: 40px;
        width: 80px;
        font-size: 20px;
        font-weight: 700;
        margin: 0px;
        cursor: pointer;
        background-color: #52B6AC;
        color: #55706D;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 2px 8px 1px rgba(0,0,0, 0.2);
        transition: all 0.5s;
        &:hover {
            background-color: #B8F2EC;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
  
  